.principalLoading{
    height: 100vh;
    position: relative;
}

.loadingGift{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-content-loading{
    background-color: transparent !important;
}