.buttonPpal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.637);
  }
  
  .ingreso:hover {
    box-shadow: 0 5px 35px 0px rgba(215, 186, 99);
    cursor: pointer;
  }
  
  .egreso:hover {
    box-shadow: 0 5px 35px 0px rgb(99, 215, 105);
    cursor: pointer;
  }